html, body{
  font-size: 18px;
  font-family: helvetica, sans-serif;
  line-height: 1.4rem;

}

.mainbanner{
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
}

.container{
  max-width: 53.3rem;
  margin: auto;
  padding: 0rem 2rem 0rem 2rem;
}



header{
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  color: white;
  position: relative;
  top: 1rem;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

nav{
  display: flex;
  align-items: center;
}

nav a{
  padding: 1rem 2rem;
  color: inherit;
  text-decoration: none;
}

.looksee {
  display: flex;
  justify-content: flex-end;
}

.looksee span{
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
  top: 10rem;
  left: 2rem;
  padding: 1.5rem 5rem;
}

.benefits{
  display: flex;
  justify-content: center;
}

.examplep, .examplert{
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.image{
  align-content: center;
}


.examplep img{
  width: 3.5rem;
}

.examplert img{
  width: 5rem;
}

.benefits span{
  text-align: center;
  display: block;
}

.philapt{
  display: flex;
  padding-bottom: 5rem;
}

.philosophy, .appointments{
  display: flex;
  width: 35%;
  flex-direction: column;
  height: 10rem;
  padding: 0% 5%;
}

.philapt p{
  padding-top: 1rem;
}

.philapt h4 {
  font-weight: bold;
  background: cadetblue;
  padding: 0.5rem 1.25rem;
  color: white;
  width: 10rem;
}

footer{
  background-color: azure;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
}

footer img{
  padding-left: 4rem;
  padding-right: 1rem;
  height: 1.5rem;
}
